<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="boardListFragment">
    <tr th:each="board, iterStat : ${boards}">
        <td th:text="${iterStat.index + 1}"></td>
        <td>
            <a th:href="@{/board/{id}(id=${board.id})}" th:text="${board.title}">게시글 제목</a>
        </td>
        <td th:text="${board.createdBy}"></td>
        <td th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd')}"></td>
    </tr>
    <tr th:if="${#lists.isEmpty(boards)}">
        <td colspan="4">등록된 게시글이 없습니다.</td>
    </tr>
</th:block>

</html>