<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<div layout:fragment="content">
    <h2>게시판 목록</h2>

    <!-- 검색 폼 -->
    <div class="search-container">
        <form name="form-main">
            <input type="text" name="keyword" th:value="${paramDto.keyword}"  placeholder="검색어 입력">
            <button type="submit">검색</button>
        </form>
    </div>

    <!-- 게시판 리스트 테이블 -->
    <table border="1" width="100%" style="border-collapse: collapse;">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>등록일</th>
        </tr>
        </thead>
        <tbody data-area="dataList">
        <!-- 페이지 로드시 fetch로 채움 -->
        </tbody>
    </table>

    <!-- 등록 버튼 -->
    <div style="margin-top: 20px; text-align: right;">
        <a th:href="@{/board/create}">
            <button type="button">등록</button>
        </a>
    </div>

    <form name="form-detail"></form>

</div>

<th:block layout:fragment="script"><script th:inline="javascript">
    const form = document.forms['form-main'];

    // 페이지 로드 시
    document.addEventListener('DOMContentLoaded', () => {

        loadBoardList();
    });

    // 검색
    form.addEventListener('submit', function (e) {
        e.preventDefault();
        loadBoardList();
    });

    // 데이타로드
    async function loadBoardList() {
        try {
            const formData = new FormData(form);
            const queryString = new URLSearchParams(formData).toString();

            const response = await fetch(`/board/fragment?${queryString}`, {
                method: 'GET',
                headers: { 'Accept': 'text/html' }
            });

            if (!response.ok) {
                throw new Error('네트워크 오류');
            }

            document.querySelector('[data-area="dataList"]').innerHTML = await response.text();
        } catch (error) {
            console.error('Error:', error);
        }
    }

    // 상세페이지 이동 함수
    function goDetail(id) {
        form.action = `/board/${id}`;
        form.submit();
    }
</script></th:block>
</html>
