<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div>
    <h2>로그인</h2>
    <form name="form-main">
    <!-- CSRF 토큰 -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required />
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
        </div>

        <div>
            <button type="submit">로그인</button>
        </div>
    </form>

</div>

<script th:inline="javascript">
    const form = document.forms['form-main'];

    form.addEventListener('submit', async function(e) {
        e.preventDefault();

        try {
            const formData = new FormData(this);

            const response = await fetch('/auth/login', {
                method: 'POST',
                body: formData
            });

            if (!response.ok) {
                const errorData = await response.json();
                throw new Error(errorData.message || '로그인 응답 에러');
            }

            // 성공 시 리다이렉트
            const result = await response.json();
            if (result.redirectUrl) {
                window.location.href = result.redirectUrl;
            } else {
                window.location.href = '/';
            }
        } catch (err) {
            console.error('로그인 처리 중 오류:', err);
            alert(err);
        }
    });
</script>

</html>
